name: Daily Runner

on:
  schedule:
    - cron: "0 2 * * *"   # 02:00 UTC - anpassen falls andere Zeitzone
  workflow_dispatch:      # erlaubt manuelles Starten

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0     # wichtig: sonst kann man nicht pushen

    - name: Set up Docker Compose
      run: sudo apt-get update && sudo apt-get install -y docker-compose

    - name: Build & run service
      working-directory: ./docker
      run: |
        docker compose run --rm cfp
  
    - name: Check for changes
      run: |
        if ! git diff --quiet; then
          echo "Changes detected."
        else
          echo "No changes found."
        fi

    - name: Commit & push changes
      if: success()
      run: |
        if ! git diff --quiet; then
          git config --global user.name "GitHub Runner"
          git config --global user.email "runner@github"
          git add docs/test.md
          git commit -m "updating test.md after running automatically"
          git push
        else
          echo "Nothing to commit."
        fi

